.courses-navbar {
  text-align: right;
  margin: 2%;
}


.button-courses-add {
    text-align: center;
    padding: 1.5%;
    background: rgb(224, 220, 220);
    border: 2px solid black;
    border-radius: 10px; 
}

.course-container {
  margin: 10px 5% 0 5%;
  background: rgb(224, 220, 220);
  padding: 1.5%;
  border: 2px solid black;
  border-radius: 10px; 
  font-size: 24px;
  opacity: 0.9;
}